/* ******** SEARCH SECTION *********** */
header {
  padding: 1rem 1rem 2rem 1rem;
  margin-bottom: 0.5rem;
}

header form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#search-term {
  width: 70%;
  border-style: none;
  padding: 0.8rem;
  border-radius: 4px;

  color: #000;
  background-color: #dcdcdc;
}

.search-icon {
  width: 3rem;
  stroke: #9b9b9b;
}

/* ******** FAV MEALS SECTION *********** */
.section-favourites {
  background-color: #ffddff;
  padding: 0.5rem;
}

.fav-body {
  margin: 0 1rem;
}
.fav-title {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 3rem;
}

.fav-meals {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;

  text-align: center;
  overflow-x: auto;
  white-space: nowrap;

  padding: 0.5rem 0;
}

.fav-meal-img {
  width: 9rem;
  border-radius: 50%;
  transition: box-shadow 0.3s;
}

.fav-preview {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  position: relative;

  color: inherit;
  text-decoration: none;

  transition: color 0.3s;
}

.fav-preview:hover,
.fav-preview:active {
  color: #ac6a6a;
}

.fav-preview .fav-meal-img:hover,
.fav-preview .fav-meal-img:active {
  box-shadow: 0px 0px 0px 5px #fff;
}

.delete-fav-icon {
  position: absolute;
  width: 3rem;
  right: -0.5rem;
  top: 0;

  cursor: pointer;
  /* stroke: #b39bb3; */
  color: #cb9e96;

  transition: background-color 0.3s;
  transition: color 0.3s;
}

.delete-fav-icon:hover,
.delete-fav-icon:active {
  background-color: #000;
  color: #fff;
}

/* ********MEALS SECTION *********** */

.meals {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.meal-preview {
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  border-radius: 8px;
  overflow: hidden;

  transition: transform 0.3s;
}

.meal-preview:hover,
.meal-preview:active {
  transform: translateY(-0.5rem);
}

.meal-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: inherit;
  text-decoration: none;
}

.meal-img {
  height: 30rem;
}

.meal-text-body {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 1.5rem;
}

.meal-text-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category {
  color: #c47979;
}

.save-fav-meal {
  width: 4rem;
  transition: all 0.3s;
  cursor: pointer;
}

.active .save-fav-meal {
  fill: #e63946;
  color: #e63946;
}
/* "active" to "<li class="meal-item></li>" */

.save-fav-meal:hover,
.save-fav-meal:active {
  color: #f59797;
}

/*************** DISPLAY MEAL WINDOWS ***************/

.popup-container {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;

  max-width: var(--mobile-container-width);
  width: 100%;

  transition: opacity 0.5s;
}

.popup {
  background-color: #fff;
  max-width: calc(var(--mobile-container-width) - 1rem);
  width: 100%;
  max-height: 90vh;

  border-radius: 4px;
  padding: 1rem 1.5rem;

  position: relative;
  overflow: auto;
}

.close-popup-icon {
  width: 3rem;
}

.close-popup-icon:hover,
.close-popup-icon:active {
  background-color: black;
  color: #fff;
}

.meal-info {
  padding: 3rem 0 1rem;
}

.meal-info img {
  width: 100%;
  border-radius: 4px;
}

.meal-info-body {
  font-size: 2rem;
}
.meal-title {
  font-size: 2.6rem;
  text-align: center;

  margin-bottom: 1.5rem;
}

.meal-box-feature,
.ingredient-item,
.meal-feature {
  display: flex;
  align-items: center;
}

.meal-box-feature {
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.meal-feature,
.ingredient-item {
  gap: 0.5rem;
}

.meal-ingredients,
.meal-box-feature {
  margin-bottom: 2rem;
}

/* .ingredient-item {
} */

.popup-icons {
  width: 2rem;
}

.title-ingredients,
.instruction-title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.meal-intructions-box {
  margin-bottom: 2rem;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.meal-instruction {
  line-height: 1.5;
}

.meal-source {
  display: flex;
  justify-content: center;
  text-decoration: none;
  cursor: inherit;
}

.meal-source-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-weight: 700;
  color: #ff7070;
  cursor: pointer;
}
/**/
